[submodule "packages/snap/lib/forge-std"]
	path = packages/snap/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "packages/snap/lib/p256-verifier"]
	path = packages/snap/lib/p256-verifier
	url = https://github.com/daimo-eth/p256-verifier
[submodule "packages/snap/lib/account-abstraction"]
	path = packages/snap/lib/account-abstraction
	url = https://github.com/eth-infinitism/account-abstraction
[submodule "packages/snap/lib/openzeppelin-contracts"]
	path = packages/snap/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "packages/snap/lib/safe-singleton-deployer-sol"]
	path = packages/snap/lib/safe-singleton-deployer-sol
	url = https://github.com/wilsoncusack/safe-singleton-deployer-sol
